body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: linear-gradient(135deg, #1e3c72, #2a5298);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #fff;
    overflow: hidden;
    flex-direction: column;
}

.game-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.game-title {
    font-size: 2.5rem;
    margin: 0;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    margin-bottom: 10px;
}

.high-score {
    font-size: 1.5rem;
    margin-bottom: 20px;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4);
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.game-container {
    border: 5px solid #fff;
    background: rgba(0, 0, 0, 0.8);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    margin-bottom: 20px;
}

canvas {
    width: 60vmin;
    height: 60vmin;
    background: #333;
    display: block;
}

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}

.score-item {
    font-size: 1.5rem;
    margin-bottom: 10px;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4);
}

#resetHighScore {
    padding: 12px 24px;
    background-color: #f39c12;
    border: 2px solid white;
    color: white;
    font-size: 1.2rem;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s, transform 0.2s;
}

#resetHighScore:hover {
    background-color: #e67e22;
    transform: scale(1.05);
}

#resetHighScore:active {
    background-color: #d35400;
    transform: scale(0.98);
}
.controls {
    display: flex;
    gap: 15px; /* Tambahkan jarak antara tombol */
    justify-content: center;
    margin-top: 10px;
}

#pauseGame {
    padding: 12px 24px;
    background-color: #3498db;
    border: 2px solid white;
    color: white;
    font-size: 1.2rem;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s, transform 0.2s;
}

#pauseGame:hover {
    background-color: #2980b9;
    transform: scale(1.05);
}

#pauseGame:active{
    background-color: #1c6ba0;
    transform: scale(0.98);
}
#appleImage {
    width: 20px; 
    height: 20px;
    display: none; 
}
#bombImage {
    width: 20px; 
    height: 20px;
    display: none; 
}


